/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Debug */
.debug .container-small,
.debug .container,
.debug .box,
.debug .bordi {
    border: 2px dashed;
}

.debug .container-small {
    background-color: #ee82ee;
    height: 400px;
}

.debug .container.green {
    background-color: green;
    height: 1000px;
}

.debug .headersuperiore {
    background-color: #add8e6
}

.debug .headerbottom {
    background-color: #00008b;
}

.debug .container.header-top {
    background-color: #daa520;
}

.debug section:nth-child(5),
.debug footer {
    background-color: #23272a;

}
.debug .row{
    align-items: flex-start;
}
.debug .row-footer {
    background-color: #7fffd4;

}

.debug .coll-small2 {
    background-color: #f08080;
}

.debug .col-2 {
    background-color: #ffc0cb;
}
.debug .col-1 {
    background-color: #1e90ff;
}

.debug .footer-top {
    background-color: #23272a;
}

.debug .logo-footer,
.bottone {
    background-color: #f08080;
}
   
.debug .box {
    background-color: #7fffd4;
}

/* Common */
.row {
    display: flex;
    align-items: flex-start;
    margin: 0 -10;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.container-small {
    width: 900px;
}

.container.green {
    max-width: 1200px;
}

.container-small,
.container,
.container.green, .headerbottom {
    justify-content: center;
}

/* Header */
.headersuperiore {
    padding: 20px;
}

.col {
    padding: 10px;
    border: 1px dashed;
}

.col.link {
    width: 60%;
}

.col.logo,
.col.login {
    width: 20%;
}

.col.login {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #23272a;
}
.headerbottom {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Main */

section {
    padding: 40px 0px;
}

main:nth-child(odd) {
    background-color: white;
}

main section:nth-child(even) {
    background-color: #d3d3d3;
}
.col-1,.col-2{
    height: 500px;
}
.col-1 {
    width: 60%;
}

.col-2 {
    width: 40%;
}

.row {
    display: flex;
}

.coll-small2 {
    width: 35%;
}

.coll-big2,
.coll-small2, .box{
    height: 570px;
}

.coll-big2 {
    width: 100%;
    display: flex;
}

.box {
    width: 25%;
}

/* Footer */
.logo-footer,
.bottone {
    padding: 10px;

}

.footer-top {
    display: flex;
}

.row-footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 20PX 0px;
}